body {																											/* vanilla abc tools settings */

	--abctools-code-font-fallbacks: var(--abctools-code-font), 'Fira Mono', Courier, monospace;
	--abctools-ui-font-fallbacks: var(--abctools-ui-font), 'Fira Sans', Helvetica, sans-serif;
	
	--abctools-code-font: 'Fira Mono';												/* Courier */
	--abctools-ui-font: 'Fira Sans';													/* Helvetica */
  --abctools-ui-btn-bgcolor: #d8d8d8; 										 /* #d8d8d8 */
  --abctools-ui-btn-bordercolor: gray; 	 								 /* darken(#d8d8d8, 7.5%) */
	--abctools-ui-btn-boxshadow: none; 												/* 0 0.1rem 0.1rem rgba(0, 0, 0, 0.25), 0 -0.1rem 0.5rem rgba(0, 0, 0, 0.1) inset */
  --abctools-ui-btn-flarecolor: transparent;								/* #ffffff */
  --abctools-ui-btn-hovercolor: #a5fb98;									 /* palegreen */
	--abctools-ui-btn-textcolor: #000000;									 /* #000000 */
	--abctools-ui-float-btn-height: 3rem;											/* 48px */
	--abctools-ui-float-btn-padding: 0.25rem;									/* 4px */
	--abctools-ui-float-btn-filter: drop-shadow(1px 1px 7px white);
  --abctools-notation-fullscreen-scaling: 50%;              /* 50% */
}

/*//////////////////////////////////////////
// APP LITE: FONT DECLARATIONS
/////////////////////////////////////////*/

@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/FiraSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/FiraSans-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 600;
  font-style: normal;
  src: url('./fonts/FiraSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 600;
  font-style: italic;
  src: url('./fonts/FiraSans-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Bold';
  font-weight: 600;
  font-style: normal;
  src: url('./fonts/FiraSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Bold';
  font-weight: 600;
  font-style: italic;
  src: url('./fonts/FiraSans-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Semibold';
  font-weight: 600;
  font-style: normal;
  src: url('./fonts/FiraSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Semibold';
  font-weight: 600;
  font-style: italic;
  src: url('./fonts/FiraSans-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Semibold Italic';
  font-weight: 600;
  font-style: normal;
  src: url('./fonts/FiraSans-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Bold Italic';
  font-weight: 600;
  font-style: normal;
  src: url('./fonts/FiraSans-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Italic';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/FiraSans-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Italic';
  font-weight: 600;
  font-style: normal;
  src: url('./fonts/FiraSans-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Mono';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/FiraMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Mono';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/FiraMono-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Mono';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/FiraMono-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Mono Medium';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/FiraMono-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Mono Bold';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/FiraMono-Bold.woff2') format('woff2');
}

/*//////////////////////////////////////////
// APP LITE: EDITOR SHELL COMPONENTS
/////////////////////////////////////////*/

/* Editor: ABC No Input */

[data-abc="noinput"] .notation-spacer,
[data-abc="noinput"] .noscroller {
  display: block;
}

[data-abc="noinput"] .notation-placeholder {
  display: block;
}

[data-share-link="true"] .notation-placeholder {
  display: none;
}

/* Editor: ABC Input Rendered */

[data-abc="rendered"] .notation-spacer,
[data-abc="rendered"] .noscroller {
  display: none;
}

[data-abc="rendered"] .notation-holder {
  display: block;
}

/* Editor: Notation Maximized */

[data-abc="rendered"][data-notation="maximized"] .notation-holder {
  display: flex;
}

[data-abc="rendered"][data-notation="maximized"] .notation-spacer,
[data-abc="rendered"][data-notation="maximized"] .noscroller {
  display: none;
}

[data-notation-scaling="auto"][data-notation="maximized"] .notation-holder {
  width: var(--abctools-notation-fullscreen-scaling);
}

/* Editor: Notation Minimized */

[data-abc="rendered"][data-notation="minimized"] .notation-spacer,
[data-abc="rendered"][data-notation="minimized"] .noscroller {
  display: block;
}

[data-abc="rendered"][data-notation="minimized"] .notation-holder {
  display: block;
}

[data-abc="rendered"][data-mode="mobile"][data-notation="minimized"] .notation-holder {
  display: block;
}

/*//////////////////////////////////////////
// APP LITE: EDITOR UI COMPONENTS
/////////////////////////////////////////*/

/* UI: Bottom Button Bar */

[data-abctools-ui-bottom-bar="show"][data-notation="minimized"] .notenrechts {
  display: inline-block;
}

/* UI: Overlay Buttons */


/*//////////////////////////////////////////
// APP LITE: MEDIA RULES / BREAKPOINTS
/////////////////////////////////////////*/

/* Two-column view breakpoint rules */

@media screen and (min-width: 1798px) {

  /* Notation Minimized :: Viewport >= 1798 */

	[data-notation="minimized"] .notation-container {
		align-items: flex-start;
	}

	[data-notation="minimized"] .app-container {
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}

  /* Notation Maximized :: Viewport >= 1798 */

	[data-notation-scaling="smart"][data-notation="maximized"] .notation-holder {
		width: var(--abctools-notation-fullscreen-scaling);
	}

	#notation-spacer {
		margin-right: 24px;
	}

	#noscroller {
		left: calc(50% - 850px);
		margin-left: 0;
	}
}

/*
////////////////////////////////////////////
// APP LITE: CUSTOM FORCED STYLES
////////////////////////////////////////////
*/

/* Always Two Columns Mode (Formerly iPad Two-Column) */

[data-mode="always-two-columns"] #noscroller,
[data-mode="always-two-columns"] #notation-holder,
[data-mode="always-two-columns"] #notation-placeholder,
[data-mode="always-two-columns"] #notation-spacer,
[data-mode="always-two-columns"] #uioverlay {
  width: 860px;
}

[data-mode="always-two-columns"] #diagnostics {
  width: 836px;
}

[data-mode="always-two-columns"][data-notation="minimized"] #notation-holder {
  display: block;
}

[data-mode="always-two-columns"][data-notation="maximized"] #notation-holder {
  width: 80%;
}

[data-mode="always-two-columns"] #rawmodebutton {
  display: none;
}

[data-mode="always-two-columns"] #transpose-controls {
  display: inline-block;
}

[data-mode="always-two-columns"][data-notation="minimized"] #notation-container {
  align-items: center;
}

[data-mode="always-two-columns"] #notation-spacer {
  margin-right: 0;
}